.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.new-game-form {
  position: fixed;
  top: 30vh;
  left: calc(50% - 300px);
  width: 600px;
  height: 400px;
  z-index: 101;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
