<div *ngIf="!isGameStarted" id="gameContainerEmpty"></div>

<div *ngIf="isGameStarted" id="gameContainer">

  <div class="player1Name">{{player1Name}}</div>
  <div class="player2Name">{{player2Name}}</div>

  <img *ngIf="player1Life >= 1" src="assets/images/heart.png" class="heart" style="left: 30px;">
  <img *ngIf="player1Life >= 2" src="assets/images/heart.png" class="heart" style="left: 80px;">
  <img *ngIf="player1Life >= 3" src="assets/images/heart.png" class="heart" style="left: 130px;">
  <img *ngIf="player1Life >= 4" src="assets/images/heart.png" class="heart" style="left: 180px;">
  <img *ngIf="player1Life >= 5" src="assets/images/heart.png" class="heart" style="left: 230px;">
  <img *ngIf="player1Life >= 6" src="assets/images/heart.png" class="heart" style="left: 280px;">

  <img *ngIf="player2Life >= 6" src="assets/images/heart.png" class="heart" style="left: 1600px;">
  <img *ngIf="player2Life >= 5" src="assets/images/heart.png" class="heart" style="left: 1650px;">
  <img *ngIf="player2Life >= 4" src="assets/images/heart.png" class="heart" style="left: 1700px;">
  <img *ngIf="player2Life >= 3" src="assets/images/heart.png" class="heart" style="left: 1750px;">
  <img *ngIf="player2Life >= 2" src="assets/images/heart.png" class="heart" style="left: 1800px;">
  <img *ngIf="player2Life >= 1" src="assets/images/heart.png" class="heart" style="left: 1850px;">

  <div class="timer">{{remainingTimeText}}</div>

  <img src="assets/images/elevator-left.png" class="elevatorLeft" [style.top]="player1ElevatorPosition">
  <img src="assets/images/elevator-right.png" class="elevatorRight" [style.top]="player2ElevatorPosition">

  <img [src]="currentQuestionImage" class="question">

  <div *ngIf="givenAnswer === 1 && !correctAnswer" class="givenAnswer1"></div>
  <div *ngIf="givenAnswer === 2 && !correctAnswer" class="givenAnswer2"></div>
  <div *ngIf="givenAnswer === 3 && !correctAnswer" class="givenAnswer3"></div>
  <div *ngIf="givenAnswer === 4 && !correctAnswer" class="givenAnswer4"></div>

  <div *ngIf="correctAnswer === 1" class="correctAnswer1"></div>
  <div *ngIf="correctAnswer === 2" class="correctAnswer2"></div>
  <div *ngIf="correctAnswer === 3" class="correctAnswer3"></div>
  <div *ngIf="correctAnswer === 4" class="correctAnswer4"></div>

  <div *ngIf="givenAnswer === 1 && correctAnswer && givenAnswer !== correctAnswer" class="wrongAnswer1"></div>
  <div *ngIf="givenAnswer === 2 && correctAnswer && givenAnswer !== correctAnswer" class="wrongAnswer2"></div>
  <div *ngIf="givenAnswer === 3 && correctAnswer && givenAnswer !== correctAnswer" class="wrongAnswer3"></div>
  <div *ngIf="givenAnswer === 4 && correctAnswer && givenAnswer !== correctAnswer" class="wrongAnswer4"></div>

</div>
