#gameContainerEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('src/assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('src/assets/images/game-platform.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.questionPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  background-color: #000000;
  border: 5px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  overflow: hidden;
}

.heart {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 75px;
}

.player1Name {
  position: absolute;
  top: 19px;
  left: 10px;
  width: 310px;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #348a63;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 1px 1px 2px #000000;
}

.player2Name {
  position: absolute;
  top: 19px;
  right: 10px;
  width: 310px;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #348a63;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 1px 1px 2px #000000;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  font-family: "Courier New", Courier, monospace;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #ffcc00;
  margin-top: 30px;
  margin-bottom: auto;
  text-shadow: 3px 3px 4px #000000;
}

.elevatorLeft {
  width: 280px;
  height: 188px;
  position: absolute;
  left: 25px;
}

.elevatorRight {
  width: 280px;
  height: 188px;
  position: absolute;
  right: 25px;
}

.player1Avatar {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 85px;
}

.player2Avatar {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 100px;
}

.question {
  width: 741px;
  height: 418px;
  position: absolute;
  bottom: 18px;
  left: 348px;
  border-left: 2px solid #666666;
  border-top: 2px solid #666666;
  border-bottom: 2px solid #aaaaaa;
  border-right: 2px solid #aaaaaa
}

.givenAnswer1 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffcc00;
  opacity: 0.8;
  position: absolute;
  top: 931px;
  left: 602px;
}

.givenAnswer2 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffcc00;
  opacity: 0.8;
  position: absolute;
  top: 984px;
  left: 602px;
}

.givenAnswer3 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffcc00;
  opacity: 0.8;
  position: absolute;
  top: 922px;
  left: 1048px;
}

.givenAnswer4 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffcc00;
  opacity: 0.8;
  position: absolute;
  top: 982px;
  left: 1048px;
}

.correctAnswer1 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #009900;
  opacity: 0.8;
  position: absolute;
  top: 931px;
  left: 602px;
}

.correctAnswer2 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #009900;
  opacity: 0.8;
  position: absolute;
  top: 984px;
  left: 602px;
}

.correctAnswer3 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #009900;
  opacity: 0.8;
  position: absolute;
  top: 922px;
  left: 1048px;
}

.correctAnswer4 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #009900;
  opacity: 0.8;
  position: absolute;
  top: 982px;
  left: 1048px;
}

.wrongAnswer1 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #990000;
  opacity: 0.8;
  position: absolute;
  top: 931px;
  left: 602px;
}

.wrongAnswer2 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #990000;
  opacity: 0.8;
  position: absolute;
  top: 984px;
  left: 602px;
}

.wrongAnswer3 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #990000;
  opacity: 0.8;
  position: absolute;
  top: 922px;
  left: 1048px;
}

.wrongAnswer4 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #990000;
  opacity: 0.8;
  position: absolute;
  top: 982px;
  left: 1048px;
}
