<div *ngIf="!isGameStarted" id="gameContainerEmpty"></div>

<div *ngIf="isGameStarted" id="gameContainer">

  <div class="player1Name">{{player1Name}}</div>
  <div class="player2Name">{{player2Name}}</div>

  <img *ngIf="player1Life >= 1" src="assets/images/heart.png" class="heart" style="left: 10px;">
  <img *ngIf="player1Life >= 2" src="assets/images/heart.png" class="heart" style="left: 42px;">
  <img *ngIf="player1Life >= 3" src="assets/images/heart.png" class="heart" style="left: 74px;">
  <img *ngIf="player1Life >= 4" src="assets/images/heart.png" class="heart" style="left: 106px;">
  <img *ngIf="player1Life >= 5" src="assets/images/heart.png" class="heart" style="left: 138px;">
  <img *ngIf="player1Life >= 6" src="assets/images/heart.png" class="heart" style="left: 170px;">

  <img *ngIf="player2Life >= 6" src="assets/images/heart.png" class="heart" style="right: 170px;">
  <img *ngIf="player2Life >= 5" src="assets/images/heart.png" class="heart" style="right: 138px;">
  <img *ngIf="player2Life >= 4" src="assets/images/heart.png" class="heart" style="right: 106px;">
  <img *ngIf="player2Life >= 3" src="assets/images/heart.png" class="heart" style="right: 74px;">
  <img *ngIf="player2Life >= 2" src="assets/images/heart.png" class="heart" style="right: 42px;">
  <img *ngIf="player2Life >= 1" src="assets/images/heart.png" class="heart" style="right: 10px;">

  <div class="timer">{{remainingTimeText}}</div>

  <img src="assets/images/elevator-left.png" class="elevatorLeft" [style.bottom]="player1ElevatorPosition">
  <img src="assets/images/elevator-right.png" class="elevatorRight" [style.bottom]="player2ElevatorPosition">

  <img [src]="player1Image" class="player1Avatar" [style.bottom]="player1AvatarPosition">
  <img [src]="player2Image" class="player2Avatar" [style.bottom]="player2AvatarPosition">

  <img [src]="currentQuestionImage" class="question">

  <div *ngIf="givenAnswer === 1 && !correctAnswer" class="givenAnswer1"></div>
  <div *ngIf="givenAnswer === 2 && !correctAnswer" class="givenAnswer2"></div>
  <div *ngIf="givenAnswer === 3 && !correctAnswer" class="givenAnswer3"></div>
  <div *ngIf="givenAnswer === 4 && !correctAnswer" class="givenAnswer4"></div>

  <div *ngIf="correctAnswer === 1" class="correctAnswer1"></div>
  <div *ngIf="correctAnswer === 2" class="correctAnswer2"></div>
  <div *ngIf="correctAnswer === 3" class="correctAnswer3"></div>
  <div *ngIf="correctAnswer === 4" class="correctAnswer4"></div>

  <div *ngIf="givenAnswer === 1 && correctAnswer && givenAnswer !== correctAnswer" class="wrongAnswer1"></div>
  <div *ngIf="givenAnswer === 2 && correctAnswer && givenAnswer !== correctAnswer" class="wrongAnswer2"></div>
  <div *ngIf="givenAnswer === 3 && correctAnswer && givenAnswer !== correctAnswer" class="wrongAnswer3"></div>
  <div *ngIf="givenAnswer === 4 && correctAnswer && givenAnswer !== correctAnswer" class="wrongAnswer4"></div>

</div>
