#mainMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('src/assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.start-game-button {
  display: inline-block;
  width: 250px;
  height: 80px;
  background-image: url('src/assets/images/start-game-button.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.start-game-button:hover {
  background-image: url('src/assets/images/start-game-button-hover.png');
}

.main-title {
  display: inline-block;
  width: 888px;
  height: 210px;
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
}
